<section class="login">
    <div class="title">Welcome to Pixie Bank. Here we will do magic with your money.</div>
    <form [formGroup]="form">
            <div class="form-field">
                <div class="text">Please, enter your PIN number:</div>
                <input name="pin" formControlName="pin" maxlength="4" type="password"  autofocus>
            </div>
            
    </form>
    <button (click)="login()" class="button" *ngIf="!loading">Proceed</button>
    <button class="button" *ngIf="loading"><img src="../../assets/img/loading.gif" alt="Loading" width="33"></button>
    <div *ngIf="loginError" class="title">
        Invalid PIN. Please try again.
    </div>
</section>
